<ion-header>
  <ion-toolbar>
    <ion-title class="header-style">Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="container">
        <ion-img class="profile-pic-profile" id="profilePicture" ></ion-img>
</div>

<ion-item>
  <ion-label class="label">Full Name:</ion-label>
  <ion-input type="text" id="uname"></ion-input>
</ion-item>

<ion-item>
    <ion-label class="label">Phone Number:</ion-label>
    <ion-input type="text" id="phoneNumber"></ion-input>
</ion-item>

<ion-item>
    <ion-label class="label">Birthday:</ion-label>
    <ion-input type="text" id="birthDay"></ion-input>
</ion-item>

<ion-item>
  <ion-label class="label">Region:</ion-label>
  <ion-input type="text" id="region"></ion-input>
</ion-item>

<ion-item>
  <ion-label class="label" for="selectedArea">Area</ion-label>
 <ion-input type="text" id="selectedArea"></ion-input>
</ion-item>

<ion-item>
    <ion-label class="label">Gender:</ion-label>
    <ion-input  type="text" id="gender">
    </ion-input>
</ion-item>

<ion-item>
    <ion-button type="submit" (click)="editProfile()" class="profile-button">Edit Profile</ion-button>
</ion-item>
<ion-item>
    <ion-button (click)="logoutUser()" class="profile-button">Logout</ion-button>
</ion-item>
</ion-content>