<ion-header>
  <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon name="arrow-back"></ion-icon>
              </ion-button>
        </ion-buttons>
       <ion-title>Filter</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
  <ion-list-header>Filter by</ion-list-header>

  <ion-item>
    <ion-label>Price</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="selectedPrice" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="Highest to Lowest">Highest to Lowest</ion-select-option>
      <ion-select-option value="Lowest to Highest">Lowest to Highest</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Post Time</ion-label>
    <ion-select okText="Okay" cancelText="Dismiss" placeholder="Select One" [(ngModel)]="selectedPostTime">
      <ion-select-option value="Newest to Oldest">Newest to Oldest</ion-select-option>
      <ion-select-option value="Oldest to Newest">Oldest to Newest</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
</ion-content>
<ion-footer align="center" no-border>
 <ion-button expand="block" (click)="passDataBack(selectedPrice,selectedPostTime)">Ok</ion-button>
</ion-footer>
