#counterLabel{
  padding-left: 16px;
}



#add-imgbtn{
  padding-left: 16px;
}



.select{
  width:100%;
  text-align:right;
  
}
ion-img{
  border-style:solid;
  border-color:darkblue;
  border-width: 3px;
}

@media only screen and (max-device-width: 480px) {
  .thumbnail{
    display: inline-block;
    height:90px;
    width:90px;
  }
  .uploaded-photo{
    display:inline;
    margin-left:1px;
  } 

}
@media only screen and (device-width: 768px) {
  .thumbnail{
    display: inline-block;
    height:150px;
    width:150px;
    
  }
  .uploaded-photo{
    display:inline;
    margin-left:1px;
  } 
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  .thumbnail{
    display: inline-block;
    height:150px;
    width:150px;
  }
  .uploaded-photo{
    display:inline;
    margin-left:1px;
  } 
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}

.input-text {
float:right;
text-align: right;
}

.validataion-errors, .error-message{
  color: red;
  padding-left: 16px;
}

ion-item{
  height: 100% !important;
}

.icon-close{
  position: relative;
  float: right;
  z-index: 1;
  
}
