<ion-header>
  <ion-toolbar color="darkBlue">
    <ion-buttons  slot="start">
      <ion-button color="lightBlue" (click)="goback()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="lightBlue">{{title}}</ion-title>
    <ion-buttons  slot="end">
      <ion-button color="lightBlue" [disabled]="(!validatePost.valid) && (counter == 0 &&
      noCategory == true && noRegion == true && noArea == true)" (click)="savePost(validatePost.value)">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <label for="uploaded-photos" [(ngModel)]="counter" ngModel id="counterLabel">Uploaded photos({{counter}}/3)</label>
  <form class="form" [formGroup]="validatePost">
    <ion-button color="darkBlue" size="small" id="add-imgbtn" slot="start" (click)="uploadImage()" [disabled]="counter == 3">
      <ion-icon slot="icon-only" name="images"></ion-icon>
      Upload Image</ion-button>
    <ion-button color="darkBlue" size="small" id="add-imgbtn" slot="start" (click)="takePicture()" [disabled]="counter == 3">
      <ion-icon slot="icon-only" name="camera"></ion-icon>
      Camera</ion-button>
    <ion-item *ngShow="images.length != 0">
      <div>
        <br />
          <div class="uploaded-photo" *ngFor="let image of images">
            <ion-thumbnail class="thumbnail" slot="start" *ngIf="image != ''">
              <div id="close-icon-bg">
              <ion-icon class="icon-close" name="close" (click)="cancelImage(image)"></ion-icon>
              </div>
              <ion-img [src]=image></ion-img>
            </ion-thumbnail>
          </div>
        <br/>
      </div>
    </ion-item>

    <div class="validataion-errors" *ngIf="counter == 0">
      <span>Please insert an image.</span>
    </div>

    <ion-item>
      <ion-label class="input-label">Post Title</ion-label>
      <ion-input class="input-text" type="text" id="postTitle" placeholder="Add a title" formControlName="title"></ion-input>
    </ion-item>

    <div class="validation-errors" *ngFor="let validation of ad_validation_messages.title">
        <span class="error-message" *ngIf="validatePost.get('title').hasError(validation.type) &&
        (validatePost.get('title').dirty || validatePost.get('title').touched)">
          {{validation.message}}
        </span>
    </div>

    <ion-item>
        <ion-label class="input-label" for="selectedCategory">Categories</ion-label>
        <ion-select class="select" id="selectedCategory" (ionChange)="onCategoryChange($event)" formControlName="category">
          <ion-select-option value="none" selected="true" disabled="disabled">Select a category</ion-select-option>
          <ion-select-option value="dog">Dog</ion-select-option>
          <ion-select-option value="cat">Cat</ion-select-option>
          <ion-select-option value="fish">Fish</ion-select-option>
          <ion-select-option value="reptile">Reptile</ion-select-option>
          <ion-select-option value="bird">Bird</ion-select-option>
          <ion-select-option value="others">Others</ion-select-option>
        </ion-select>
    </ion-item>

    <div class="validataion-errors" *ngIf="(noCategory == true)">
      <span>Please select a category.</span>
    </div>

    <ion-item [hidden]="(postCategory.value == 'none') || (postCategory.value == 'others')">
      <ion-label class="input-label">Breed</ion-label>
      <ion-input class="input-text" type="text" id="breed" placeholder="breed is optional"></ion-input>
    </ion-item>

    <ion-item [hidden]="(postCategory.value == 'none') || (postCategory.value == 'others')">
      <ion-label class="input-label">Age (Weeks)</ion-label>
      <ion-input class="input-text" type="number" min="1" id="age" placeholder="age is optional"></ion-input>
    </ion-item>

    <ion-item [hidden]="(postCategory.value == 'none') || (postCategory.value == 'others')">
      <ion-label class="input-label">Weight (Kg)</ion-label>
      <ion-input class="input-text" type="number" min="1" id="weight" placeholder="weight is optional"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label class="input-label">Price (RM)</ion-label>
      <ion-input class="input-text" type="number" min="1" id="price" placeholder="How much is it?" formControlName="price"></ion-input>
    </ion-item>

    <div class="validation-errors" *ngFor="let validation of ad_validation_messages.price">
        <span class="error-message" *ngIf="validatePost.get('price').hasError(validation.type) &&
        (validatePost.get('price').dirty || validatePost.get('price').touched)">
          {{validation.message}}
        </span>
    </div>

    <ion-item>
      <ion-label class="input-label" for="selectedRegion">Region</ion-label>
      <ion-select class="select" id="selectedRegion" (ionChange)="onRegionChange()" formControlName="selectedRegion">
        <ion-select-option value="none" selected="true" disabled="disabled">Select your region</ion-select-option>
        <ion-select-option *ngFor="let region of regionList" [value]=region >
          {{region}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div class="validataion-errors" *ngIf="(noRegion == true)">
      <span>Please select your region.</span>
    </div>

    <ion-item>
      <ion-label class="input-label" for="selectedArea">Area</ion-label>
      <ion-select id="selectedArea" [(ngModel)]="selectedArea" (ionChange)="areaChange(selectedArea)" formControlName="selectedArea">
        <ion-select-option [value]="none" [selected]="true" [disabled]="disabled">Select your region</ion-select-option>
        <ion-select-option *ngFor="let area of areaList" [value]=area>{{area}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="validataion-errors" *ngIf="(noArea == true)">
      <span>Please select your area.</span>
    </div>
    
    <ion-item>
        <ion-textarea rows="8" type="text" id="details" placeholder="Briefly explain what are you selling" formControlName="details"></ion-textarea>
      </ion-item>
  
      <div class="validation-errors" *ngFor="let validation of ad_validation_messages.details">
          <span class="error-message" *ngIf="validatePost.get('details').hasError(validation.type) &&
          (validatePost.get('details').dirty || validatePost.get('details').touched)">
            {{validation.message}}
          </span>
      </div>

  </form>
</ion-content>
