<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="(!validatePost.valid) && (noImage == true) &&
      (noCategory == true) && (noRegion == true) && (noArea == true)">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <label for="uploaded-photos" [(ngModel)]="counter" ngModel id="counterLabel">Uploaded photos({{counter}}/3)</label>
  <form class="form" [formGroup]="validatePost">
    <ion-item>
      <div class="uploaded-photos">
        <br />
        <ion-thumbnail slot="start">
          <img id="img1" src="assets/Placeholder.jpg" (click)="uploadImage()">
        </ion-thumbnail>
        <ion-thumbnail slot="start">
          <img id="img2" src="assets/Placeholder.jpg" (click)="uploadImage()">
        </ion-thumbnail>
        <ion-thumbnail slot="start">
          <img id="img3" src="assets/Placeholder.jpg" (click)="uploadImage()">
        </ion-thumbnail>
        <br/>
      </div>
    </ion-item>

    <div class="validataion-errors" *ngIf="noImage == true" padding>
      <span>Please insert an image.</span>
    </div>

    <ion-item>
      <label class="input-label">Post Title</label>
      <input type="text" name="title" placeholder="Give a title for your advertisement" formControlName="title">
    </ion-item>

    <div class="validation-errors" padding>
      <ng-container *ngFor="let validation of ad_validation_messages.details">
        <div class="error-message" *ngIf="validatePost.get('title').hasError(validation.type) &&
        (validatePost.get('title').dirty || validatePost.get('title').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-item>
        <label class="input-label" for="selectedCategory">Categories</label>
        <select class="select" name="selectedCategory" (change)="onCategoryChange($event)" #selectedCategory>
          <option value="none" selected="true" disabled="disabled">Select a category</option>
          <option value="dog">Dog</option>
          <option value="cat">Cat</option>
          <option value="fish">Fish</option>
          <option value="reptile">Reptile</option>
          <option value="bird">Bird</option>
          <option value="others">Others</option>
        </select>
    </ion-item>

    <div class="validataion-errors" *ngIf="(noCategory == true)" padding>
      <span>Please select a category.</span>
    </div>

    <ion-item *ngIf="(selectedCategory.selectedIndex != 0) && (selectedCategory.selectedIndex != 6)">
      <label class="input-label">Breed</label>
      <input type="text" name="breed" placeholder="breed is optional" formControlName="breed">
    </ion-item>

    <ion-item *ngIf="(selectedCategory.selectedIndex != 0) && (selectedCategory.selectedIndex != 6)">
      <label class="input-label">Age (Weeks)</label>
      <input type="number" min="1" name="age" placeholder="age is optional" formControlName="age">
    </ion-item>

    <ion-item *ngIf="(selectedCategory.selectedIndex != 0) && (selectedCategory.selectedIndex != 6)">
      <label class="input-label">Weight (Kg)</label>
      <input type="text" name="weight" placeholder="weight is optional" formControlName="weight">
    </ion-item>

    <ion-item>
      <label class="input-label">Ad Details</label>
      <input type="text" name="details" placeholder="What are you selling?" formControlName="details">
    </ion-item>

    <div class="validation-errors" padding>
      <ng-container *ngFor="let validation of ad_validation_messages.details">
        <div class="error-message" *ngIf="validatePost.get('details').hasError(validation.type) &&
        (validatePost.get('details').dirty || validatePost.get('details').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <label class="input-label">Price (RM)</label>
      <input type="text" name="price" placeholder="How much is it?" formControlName="price">
    </ion-item>

    <div class="validation-errors" padding>
      <ng-container *ngFor="let validation of ad_validation_messages.price">
        <div class="error-message" *ngIf="validatePost.get('price').hasError(validation.type) &&
        (validatePost.get('price').dirty || validatePost.get('price').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <label class="input-label" for="selectedRegion">Region</label>
      <select class="select" name="selectedRegion" (change)="onRegionChange($event)">
        <option value="none" selected="true" disabled="disabled">Select your region</option>
        <option value="Johor">Johor</option>
        <option value="Kedah">Kedah</option>
        <option value="Kelantan">Kelantan</option>
        <option value="Kuala Lumpur">Kuala Lumpur</option>
        <option value="Labuan">Labuan</option>
        <option value="Melaka">Melaka</option>
        <option value="Negeri Sembilan">Negeri Sembilan</option>
        <option value="Pahang">Pahang</option>
        <option value="Penang">Penang</option>
        <option value="Perak">Perak</option>
        <option value="Perlis">Perlis</option>
        <option value="Putrajaya">Putrajaya</option>
        <option value="Selangor">Selangor</option>
        <option value="Sabah">Sabah</option>
        <option value="Sarawak">Sarawak</option>
        <option value="Terengganu">Terengganu</option>
      </select>
    </ion-item>

    <div class="validataion-errors" *ngIf="(noRegion == true)" padding>
      <span>Please select your region.</span>
    </div>

    <ion-item>
      <label class="input-label" for="selectedArea">Area</label>
      <select class="select" name="selectedArea" (change)="onAreaChange($event)">
        <option value="none" selected="true" disabled="disabled">Select your area</option>
        <option *ngFor="let option of areaOptions" [value]="option">
          {{option}}
        </option>
      </select>
    </ion-item>

    <div class="validataion-errors" *ngIf="(noArea == true)" padding>
      <span>Please select your area.</span>
    </div>

  </form>
</ion-content>
