#counterLabel{
  padding-left: 16px;
}

.imgStyle{
  width:50%;
  margin-right:2px;
}

#add-imgbtn{
  padding-left: 16px;
}

.uploaded-photo{
  margin-left: 2px;
  display:inline;
}

.select{
  width:100%;
  text-align:right;
  
}

#details{
  border-style:solid;
  border-width: 1px;
  border-color: darkblue;
  padding:2px;
  margin:5px;
}

.thumbnail{
  display: inline-block;
  height:90px;
  width:90px;
}

@media screen and (min-width: 357px) {
  .thumbnail{
    display: inline-block;
    height:110px;
    width:110px;
  }
  
}

@media screen and (min-width: 425px) {
  .thumbnail{
    display: inline-block;
    height:125px;
    width:125px;
  }
}
.input-text {
float:right;
text-align: right;
}

.validataion-errors, .error-message{
  color: red;
  padding-left: 16px;
}

ion-item{
  height: 100% !important;
}

.icon-close{
  position: relative;
  float: right;
  z-index: 1;
}
