#counterLabel{
  padding-left: 16px;
}

.imgStyle{
  width:50%;
  margin-right:2px;
}

#add-imgbtn{
  padding-left: 16px;
}

.uploaded-photo{
  margin-left: 2px;
  display:inline;
}

.thumbnail{
  display: inline-block;
  border: 10px;
  border-color: red;
}

.input-text {
  text-align: right;
}

.validataion-errors, .error-message{
  color: red;
  padding-left: 16px;
}

ion-item{
  height: 100% !important;
}

.icon-close{
  position: relative;
  float: right;
  z-index: 1;
}
