h4{
    text-align: center;
    color:darkblue;
    font-weight: bold;
}
p{
    text-align: justify;
    text-justify: inter-word;
    padding-left:10px;
    padding-right:10px;
}
div{
    text-decoration: underline;
}