<ion-header>
    <ion-item color="darkBlue">
   <ion-icon (click)="back()" color="lightBlue" name="arrow-back">
  </ion-icon>
    <ion-title color="lightBlue">Rules and Regulations</ion-title>
    </ion-item>
</ion-header>

<ion-content>
  <h4>Please read the rules below carefully</h4>
    <p>1. The Administrators reserve the rights to freeze / remove your account and / or your posted advertisment(s) without a prior notice.</p>
    <p>2. Make sure you take clear pictures of the pet / accessories.</p>
    <p>3. You will receive a warning if your pet(s) / accessorie(s) remain unsold for 30 days.</p>
    <p>4. Signing up an account is not compulsory however, if you want to post an ad, send a message in app or add advertisment(s) to your favorite post(s).</p>
    <p>5. Do report any inappropriate ad(s) and administrators will then evaluate the situation.</p>
    <p>6. Keep the chat clean, do not use any offensive or threatening expressions.</p>
  <h4>Feel free to send us an email on <div (click)="sendEmail()">mrktpetadmn@gmail.com</div></h4>
</ion-content>
