<ion-header>
  <ion-toolbar color="darkBlue">
    <ion-buttons slot="start">
        <ion-button (click)="close()" color="lightBlue" fill="clear">
            <ion-icon size="medium" name="arrow-back" slot="start"></ion-icon>
            {{title}}
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="top" color="darkBlue">
          <ion-tab-button class="signinBg" tab="login" (click)="changeTitle('signin')">            
            <ion-label color="lightBlue"><h2 class="signIn">Sign In</h2></ion-label>
          </ion-tab-button>
                  
          <ion-tab-button class="signupBg" tab="register" (click)="changeTitle('signup')">
            <ion-label color="lightBlue"><h2 class="signUp">Sign Up</h2></ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>
