.validataion-errors{
  color: red;
}

.error-message{
  color: red;
  padding-left: 16px;
}

.ion-color-facebook-color{
  --ion-color-base: #4267b2	;
}
#facebook-style{
  color:white;
  font-weight: bolder
}
#googleLogin{
  color:white;
  font-weight: bolder
}