<ion-header>
  <ion-toolbar color="darkBlue">
    <ion-item color="darkBlue">
    <ion-back-button defaultHref="home" color="lightBlue" (click)="backProfile()"></ion-back-button>
    <ion-title color="lightBlue">Change Password</ion-title>
</ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <ion-label class="label">Current Password:</ion-label>
      <ion-input id="currentPass" type="password" [(ngModel)]="currentPass" ></ion-input>
    </ion-item>

    <form class="form" [formGroup]="validatePassword">
    <ion-item>
      <ion-label class="label" >New Password:</ion-label>
      <ion-input id="password" type="password" formControlName="newPass"></ion-input>
    </ion-item>

    <div class="validation-errors" *ngFor="let validation of passwordValidationMsg.newPass">
        <span class="error-message" *ngIf="validatePassword.get('newPass').hasError(validation.type) &&
        (validatePassword.get('newPass').dirty || validatePassword.get('newPass').touched)">
          {{validation.message}}
        </span>
    </div>
  
    <ion-item>
      <ion-label class="label">Confirm New Password:</ion-label>
      <ion-input id="repeatPassword" type="password" formControlName="confirmPass"></ion-input>
    </ion-item>

    <div class="validation-errors" *ngFor="let validation of passwordValidationMsg.confirmPass">
        <span class="error-message" *ngIf="validatePassword.get('confirmPass').hasError(validation.type) &&
        (validatePassword.get('confirmPass').dirty || validatePassword.get('confirmPass').touched)">
          {{validation.message}}
        </span>
    </div>

    <div class="error-message" *ngIf="(validatePassword.hasError('notEqual')) && (validatePassword.controls.newPass.valid)">
      <p>Your passwords do not match. Please try again.</p>
    </div>
  </form>
  <ion-button color="darkBlue" class="profile-button" [disabled]="validatePassword.valid == false" (click)="changePass(validatePassword.controls.newPass.value)"> Change Password</ion-button>
</ion-content>