<ion-header>
  <ion-toolbar color="darkBlue">
    <ion-item color="darkBlue">
    <ion-back-button defaultHref="home" color="lightBlue" (click)="backProfile()"></ion-back-button>
    <ion-title color="lightBlue">Change Password</ion-title>
</ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-item>
    <ion-label class="label">Current Password:</ion-label>
    <ion-input id="currentPass" type="password" [(ngModel)]="currentPass" ></ion-input>
  </ion-item>
<ion-item>
  <ion-label class="label">New Password:</ion-label>
  <ion-input id="password" type="password" ></ion-input>
</ion-item>
<ion-item>
  <ion-label class="label">Confirm New Password:</ion-label>
  <ion-input id="repeatPassword" type="password"></ion-input>
</ion-item>
  <ion-button color="darkBlue" class="profile-button" (click)="changePass()"> Change Password</ion-button>
</ion-content>