<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-label class="label">New Password:</ion-label>
  <ion-input type="password" id="npassword"></ion-input>
</ion-item>

<ion-item>
  <ion-label class="label">Confirm New Password:</ion-label>
  <ion-input type="password" id="rnpassword"></ion-input>
</ion-item>
  <ion-button class="profile-button" (click)="changePass()"> Change Password</ion-button>
  <ion-button class="profile-button" (click)="backProfile()">Go Back To Your Profile</ion-button>

</ion-content>