.card-background-page {

  ion-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
  }

  ion-card .card-footer {
    margin-top: auto;
  }

  .manage-post-btn{
    display:inline;
  padding-bottom: 0px;
  }
  .manage-btn{
  margin-right:5%;
  }
  
  .manage-title{
  margin-right:5%;
  }
  
  ion-card{
    width:100%;
  }
 
  .card-title {
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
  }

}

.col{
  border-right: 1px;
  border-right-style: ridge;
}

.row{
  border-bottom: 1px;
  border-bottom-style: ridge;
}

.postname{
  text-align: left;
}

.price{
  text-align: left;
  color: red;
}

.dateTime{
  text-align: left;
}

.toolbar{
  border-bottom: none
}

.pull-right {
  float: right;
}

.tabbar{
  border-top: none;
  border-bottom: ridge thin;
  .tabbutton{
    border-right: ridge thin;
    text-align:left;
  }
}

#noProductinCategories{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
}

.ImageProduct{
  width:100%;
  height:100%;
  object-fit: cover;
}