<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Posted Ads</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="postNewAd()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon style="float: right;" (click)="deletePost()" name="trash"></ion-icon>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
