.card-background-page {

  ion-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
  }

  ion-card .card-footer {
    margin-top: auto;
  }

  .card-image{
    height: inherit !important;
  }

  ion-card-title {
    font-size: 15px;
    width: 100%;
    font-weight: bold;
  }

  .icon{
    font-size: 30px;
    float: right;
    clear: left;
    margin-left: 5px;
  }

  .postname, .dateTime{
    text-align: left;
  }

  .price{
    text-align: left;
    color: red;
  }
}

#noProduct{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
}

#sold{
  font-size: 20px; 
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: 50%;
}

ion-toggle{
  padding-bottom: 5pt;
}
