<ion-header>
  <ion-toolbar  color="darkBlue">
    <ion-title color="lightBlue">


          <!-- <ion-icon slot="icon-only" name="arrow-back"></ion-icon> -->
        Send a message!
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div id="chatMessages">
      <div *ngFor="let message of getMsgs" [class]="message.getText ? 'message special' : 'message'">
        <div [class]="message.sender == this.sender ? 'innerMessage messageRight' : 'innerMessage messageLeft'">
          <div class="username">{{message.sender}}</div>
          <div class="messageContent">{{ message.message }}</div>
        </div>
      </div>
    </div>

  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <div id="footer">
        <div class="elem"><ion-input type="text" [(ngModel)]="message" placeholder="Type a message..."></ion-input></div>
        <div class="elem"><button icon-only (click)="send()"><ion-icon name="send"></ion-icon> </button></div>
      </div>
    </ion-toolbar>
  </ion-footer>
