<ion-header>
  <ion-toolbar color="darkBlue">
    <ion-title color="lightBlue">{{product.postName}}</ion-title>
    <ion-buttons color="lightBlue" slot="start">
      <ion-back-button color="lightBlue"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="addtoLikedProduct(product.id, product.buttonColor)">
        <ion-icon name="heart" color="product.buttonColor"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button color="lightBlue" (click)="alertReport()">
        <ion-icon name="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true">
    <ion-slide *ngFor="let image of images">
        <ion-img class="productImage" [src]=image></ion-img>
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none" no-padding>
            <ion-label><h1>{{product.postName}}</h1></ion-label>
            <ion-icon slot="end" name="heart" style="zoom:1.5;" [color]="product.buttonColor" (click)="addtoLikedProduct(product.id)"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="price"><h2>RM{{product.price}}</h2></ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-icon name="pin" color="danger"></ion-icon>
          <ion-label class="regionlabel">{{product.region}} , {{product.area}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item no-lines>
          <ion-avatar><img src="{{seller.url}}"/></ion-avatar>
          <ion-label>
            <h2 class="ownername" *ngIf="hasName">{{seller.name}}</h2>
            <p *ngIf='hasPhoneNumber' class="ownerphonenumber">{{seller.phoneNumber}}</p>
            <p class="owneremail">{{seller.email}}</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Category: {{this.product.postCategory}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="product.breed != 'not set'">
      <ion-col>
        <ion-label>Breed: {{product.breed}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="product.age != 'not set'">
      <ion-col>
        <ion-label>Age: {{product.age}} weeks</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="product.weight != 'not set'">
      <ion-col>
        <ion-label>weight: {{product.weight}} KG</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Description: {{product.description}}</ion-label>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-list>
          <ion-item class="share">
            <ion-label>Share this ad: </ion-label>
            <ion-icon (click)="shareFacebook()" class="icon" name="logo-facebook"></ion-icon>
            <ion-icon (click)="shareWhatsApp()" class="icon" name="logo-whatsapp"></ion-icon>
            <ion-icon (click)="shareInstagram()" class="icon" name="logo-instagram"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="callSeller()" tab="CALL" [disabled]="isDisabled">
          <ion-label>CALL</ion-label>
          <ion-icon name="call"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="smsSeller()" tab="SMS" [disabled]="isDisabled">
          <ion-label>SMS</ion-label>
          <ion-icon name="chatbubbles"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="sendEmail()" tab="Email">
          <ion-label>Email</ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="Chat" (click)="chat()" [disabled]="noCommunicate">
          <ion-label>Chat</ion-label>
          <ion-icon name="chatboxes"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>
</ion-footer>
