.ion-text-wrap
{
  padding-left: 10px;
}

.productImage{
  width: 100vw;
}
.price{
  color:red;
  font-weight: bold;
}

.share{
  border-top: ridge;
  border-bottom: ridge;
}

.owneremail{
  padding-left: 10px;
}

.icon{
  padding-right: 16px;
}
