.ion-text-wrap
{
  padding-left: 10px;
}

.price{
  color:red;
  font-weight: bold;
}

.share{
  border-top: ridge;
  border-bottom: ridge;
}

.ownername{
  padding-left: 10px;
}

.icon{
  padding-right: 16px;
}

.productImage{
  width: 100%;
  height:100%;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 1920px) {
  .productImage{
    width: 100%;
    height:100%;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 800px) {
  .productImage{
    width: 100%;
    height:100%;
  }
}
