.profile-pic-profile{
    position: relative;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-radius: 100px;
    margin: auto;
    margin-top: 5%;
} 

.ion-color-darkBlue{
    --ion-color-base: darkblue	;
  }
  .ion-color-lightBlue{
    --ion-color-base: lightblue	;
  }
  
#changePicture{
    margin-top: 5%;
}
#UploadMethod{
    display:inline;
}
#uploadImage{
    width: 75%;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.label{
font-weight: bolder;
}

#uname, #phoneNumber{ 
text-align: right;
}
.changeIcon {
  position: absolute;
  top: 82%;
  background-color: rgba(32, 32, 32, 0.808);
  color: white;
  padding: -15px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 136px;
  border-radius: 20px
}

.container {
    position: relative;
    text-align: center;
  }
 
.profile-button{
    width:100%;
}
