<ion-header>
  <ion-toolbar>
    <ion-title class="header-style">Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form class="profile-page">
<div class="container">
    <input type="file" name="file" id="file" class="inputfile"/>
    <label for="file" id="uploadfile" (click)="uploadPicture()">
        <img class="profile-pic-profile" id="profilePicture">
    </label>
</div>
    <input type="text" placeholder="Full Name..." class="form-content" id="uname" >
    <input type="tel" placeholder="Phone Number..." class="form-content" maxlength="10" id="phoneNumber">
    <br><label>Birthday:</label><br>
    <input type="date" class="form-dropdown" id="birthDay">
    <br><label>Location:</label><br>
    <select class="form-dropdown">

    </select>
    <br><label>Gender:</label><br>
    <select class="form-dropdown" id="gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select><br>
    <ion-button type="submit" (click)="editProfile()" class="profile-button">Save Details</ion-button>
  </form>
  <div class="profile-page">
  <ion-button (click)="logoutUser()" class="profile-button">Logout</ion-button>
</div>
</ion-content>
