.profile-page{
margin: auto;
width: 50%;
}
#form-bg{
    background-color: lightblue;
}
.form-content{
    margin-bottom: 10px;
    width:100%;
    padding:5px 5px 5px 5px;
}

.profile-pic-profile{
    max-width: 100px;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
} 


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    word-wrap: break-word;
    background-color: dodgerblue;
    color: white;
    padding:7px;
    cursor: pointer;
    display: inline-block;
}

.profile-button{
    width:100%;
}

.form-dropdown{
    margin-bottom: 10px;
    width:100%;
    padding:5px 5px 5px 5px;
}