<ion-header>
    <ion-toolbar>
       <ion-title class="header-style">Your Profile</ion-title>
    </ion-toolbar>
 </ion-header>
 <ion-content>
    <div class="container">
       <ion-img class="profile-pic-profile" id="profilePicture"></ion-img>
       <h3>Upload From</h3>
       <ion-row id="UploadMethod">
          <ion-col>
             <ion-button (click)="AccessGallery()" id="useGallery">
                <ion-icon name="image"></ion-icon>
                Gallery
             </ion-button>
          </ion-col>
          <ion-col>
            or
          </ion-col>
          <ion-col>
             <ion-button (click)="AccessCamera()" id="useCamera">
                <ion-icon name="image"></ion-icon>
                Camera
             </ion-button>
          </ion-col>
       </ion-row>
    </div>
    <ion-item>
       <ion-label class="label">Full Name:</ion-label>
       <ion-input type="text" id="uname" ></ion-input>
    </ion-item>
    <ion-item>
       <ion-label class="label">Phone Number:</ion-label>
       <ion-input type="tel" maxlength="10" id="phoneNumber" ></ion-input>
    </ion-item>
    <ion-item>
       <ion-label class="label">Birthday:</ion-label>
       <ion-datetime  type="date" id="birthDay"></ion-datetime>
    </ion-item>
    <ion-item>
       <ion-label class="label" for="region">Region</ion-label>
       <ion-select class="select" id="region" (ionChange)="onRegionChange($event)">
          <ion-select-option value="none" selected="true" disabled="disabled" >Region</ion-select-option>
       </ion-select>
    </ion-item>
    <ion-item>
       <ion-label class="label" for="selectedArea">Area</ion-label>
       <ion-select class="select" id="selectedArea"  (ionChange)="onAreaChange($event)">
          <ion-select-option value="none" selected="true" disabled="disabled">Select your area</ion-select-option>
          <ion-select-option *ngFor="let option of areaOptions" [value]=option >
          {{option}}
          </ion-select-option>
       </ion-select>
    </ion-item>
    <ion-item>
       <ion-label class="label">Gender:</ion-label>
       <ion-select id="gender">
          <ion-select-option value="Male" >Male</ion-select-option>
          <ion-select-option value="Female">Female</ion-select-option>
       </ion-select>
    </ion-item>
    <ion-item>
       <ion-button type="submit" (click)="editProfile()" class="profile-button">Save Details</ion-button>
    </ion-item>
    <ion-item>
       <ion-button type="submit" (click)="changePassword()" class="profile-button">Change Password</ion-button>
    </ion-item>
    <ion-item>
       <ion-button (click)="logoutUser()" class="profile-button">Logout</ion-button>
    </ion-item>
 </ion-content>