<ion-header>
  <ion-toolbar>
    <ion-title class="header-style">Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="container">
        <ion-img class="profile-pic-profile" id="profilePicture"></ion-img>
        <ion-button (click)="uploadPhoto()">Change Picture</ion-button>
</div>

<ion-item>
  <ion-label class="label">Full Name:</ion-label>
  <ion-input type="text" id="uname"></ion-input>
</ion-item>

<ion-item>
    <ion-label class="label">Phone Number:</ion-label>
    <ion-input type="tel" maxlength="10" id="phoneNumber"></ion-input>
</ion-item>

<ion-item>
    <ion-label class="label">Birthday:</ion-label>
    <ion-datetime type="date" id="birthDay"></ion-datetime>
</ion-item>

<ion-item>
    <ion-label class="label">Region:</ion-label>
    <ion-select id="region">
    </ion-select>
</ion-item>

<ion-item>
    <ion-label class="label">Area</ion-label>
    <ion-select id="area">
    </ion-select>
  </ion-item>

<ion-item>
    <ion-label class="label">Gender:</ion-label>
    <ion-select id="gender">
      <ion-select-option value="Male">Male</ion-select-option>
      <ion-select-option value="Female">Female</ion-select-option>
    </ion-select>
</ion-item>

<ion-item>
    <ion-button type="submit" (click)="editProfile()" class="profile-button">Save Details</ion-button>
</ion-item>
<ion-item>
    <ion-button (click)="logoutUser()" class="profile-button">Logout</ion-button>
</ion-item>
</ion-content>