<ion-header>
  <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon name="arrow-back"></ion-icon>
              </ion-button>
        </ion-buttons>
       <ion-title>Location</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
   <ion-list>
      <ion-list-header>Please select the location</ion-list-header>
      <ion-item>
         <ion-label>Region</ion-label>
         <ion-select placeholder="Select One" cancelText="Cancel" okText="Ok" [(ngModel)]="selectedRegion" (ionChange)="getAreaList(selectedRegion)">
            <ion-select-option *ngFor="let region of regionList" [value]="region">{{region}}</ion-select-option>
         </ion-select>
      </ion-item>
      <ion-item>
         <ion-label>Area</ion-label>
         <ion-select placeholder="Select One" cancelText="Cancel" okText="Ok" [(ngModel)]="selectedArea" [disabled]="areaList.length == 0">
            <ion-select-option *ngFor="let area of areaList" [value]="area">{{area}}</ion-select-option>
         </ion-select>
      </ion-item>
   </ion-list>
</ion-content>
<ion-footer align="center" no-border>
  <ion-button expand="block" (click)="passDataBack(selectedRegion,selectedArea)">Ok</ion-button>
</ion-footer>
