<ion-header>
  <ion-toolbar color="darkBlue">
    <ion-title color="lightBlue">Favourite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <p id="noLikedProduct" *ngIf="noLikedProduct == true" padding>
      You haven't like any product.
    </p>
    <ion-row *ngFor="let row of array" class="card-background-page">
      <ion-col col-4 text-center *ngFor="let col of row">
        <ion-card>
          <ion-img [src] = "col.images[0]" (click) = "goToProductPage(col.pid)"></ion-img>
         
          <ion-card-content (click) = "goToProductPage(col.pid)">
          <ion-card-subtitle class="postname">{{col.postName}}</ion-card-subtitle>
          <ion-card-subtitle class="price">RM{{col.price}}</ion-card-subtitle>
          <ion-card-subtitle class="dateTime">{{col.dateTime}}</ion-card-subtitle>
          </ion-card-content>
        
          <ion-item (click)="removeFromLikedProduct(col.pid)" no-lines color="danger" class="manage-post-btn"> 
            <ion-icon class="manage-btn" name="close" ></ion-icon>
            <p class="manage-title">Remove</p>
            </ion-item>
         </ion-card>
      
        </ion-col>
     </ion-row>
    </ion-grid>
</ion-content>
