<ion-header>
  <ion-toolbar color="lightBlue">
    <ion-title>Favourite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <p id="noLikedProduct" *ngIf="noLikedProduct == true" padding>
      You haven't like any product.
    </p>
    <ion-row *ngFor="let row of array" class="card-background-page">
      <ion-col col-4 text-center *ngFor="let col of row">
        <ion-card>
          <ion-img [src] = "col.images[0]" (click) = "goToProductPage(col.pid)"></ion-img>
          <ion-fab vertical="top" horizontal="end" slot="fixed">
              <ion-icon name="trash" style="zoom:2.0;" [color]="col.buttonColor" (click)="removeFromLikedProduct(col.pid)"></ion-icon>
          </ion-fab>
          <ion-card-content>
          <ion-card-subtitle class="postname">{{col.postName}}</ion-card-subtitle>
          <ion-card-subtitle class="price">RM{{col.price}}</ion-card-subtitle>
          <ion-card-subtitle class="dateTime">{{col.dateTime}}</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
        </ion-col>
     </ion-row>
    </ion-grid>
</ion-content>
