<ion-header>
    <ion-toolbar color="darkBlue">
      <ion-item color="darkBlue">    
      <ion-searchbar (click)="getProductsBasedonSearchBar()">
      </ion-searchbar>
     <ion-icon (click)="moreInfo()" color="light" name="more"></ion-icon>
    </ion-item>
  </ion-toolbar>
  </ion-header>
  <ion-content color="light">
    <ion-slides pager="true">
      <ion-slide *ngFor="let image of carousel">
          <ion-img style="width:100%;" [src]=image></ion-img>
      </ion-slide>
    </ion-slides>
    <ion-grid>
      <ion-row *ngFor="let row of array" class="card-background-page">
        <ion-col  col-4 text-center *ngFor="let col of row">
          <ion-card color="lightBlue" (click)="goCategoriesPage(col.categoryName)">
            <ion-img  [src] = "col.url"></ion-img>
            <ion-card-title>{{col.categoryName}}</ion-card-title>
          </ion-card>
          </ion-col>
       </ion-row>
      </ion-grid>
      
      <h4>{{recentlyPosted}}</h4>
      <h6 class="loading" *ngIf="loading === true">{{loadingNotice}}</h6>      
      <hr>

      <ion-slides pager="true">
          <ion-slide *ngFor="let posts of recentposts">
                    <ion-card id="recent-posted-card">
                      <ion-card-title id="recent-titles"> <strong>RM {{posts.price}}</strong><br> {{posts.postName}}</ion-card-title>
                      

                    <ion-img  class="recent-image" [src] = "posts.images[0]"></ion-img>
                    </ion-card>
                  </ion-slide>
                  </ion-slides>
  
  </ion-content>
  